.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.friends-screen__channel-header {
  margin-bottom: 25px;
}
#friends-display-link {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 14px 0px;
  margin-bottom: 16px;
}
#friends-display-link :nth-child(1) {
  margin-right: 3px;
}
#friends-display-link :nth-child(2) {
  margin-left: 10px;
}
