.Welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 0px;
  text-align: center;
}
.Welcome-header__title {
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 28px;
}
.Welcome-header__text {
  width: 60%;
  opacity: 0.6;
}
#login-form {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

#login-form input {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  margin-bottom: 20px;
  padding: 20px 0px;
  font-size: 18px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgb(0, 0, 0, 0.2);
}
#login-form input:focus {
  border-color: rgb(255, 213, 0);
}
#login-form input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
#login-form input[type="submit"]:active {
  background-color: rgb(255, 213, 0);
}
#login-form :nth-child(3) {
  margin: 10px 0px;
}
#login-form :nth-child(4) {
  margin: 0px 0px 40px 0px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
