body {
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(14, 3, 65);
}

.clicked {
  color: blueviolet;
}

.form,
.greetings {
  display: none;
}

.js-toDoInput {
  width: 30vw;
}

.showing {
  display: block;
}
.bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s ease-in-out;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
