.nav {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
  padding: 14px 50px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  position: relative;
}
.nav_notification {
  /* display:flex has block property */
  position: absolute;
  /* position:absolute는 부모의 속성 기준으로 움직임, 부모의 포지션을 relative로 설정하기 */
  right: -4px;
  top: -24px;
  animation: notificationAnimation 1s ease-in-out infinite;
}
.nav__new {
  background-color: rgb(245, 87, 59);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  /* position:absolute는 부모의 속성 기준으로 움직임, 부모의 포지션을 relative로 설정하기 */
  right: -4px;
  top: -16px;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-4px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

@keyframes navbtnAnimation {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__li {
  transform: translateY(50px);
  opacity: 0;
  animation: navbtnAnimation 1s ease-in-out forwards;
}
.nav__li:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__li:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__li:last-child {
  animation-delay: 0.7s;
}
