.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
  padding: 14px 50px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  position: relative;
}
.nav_notification {
  /* display:flex has block property */
  position: absolute;
  /* position:absolute는 부모의 속성 기준으로 움직임, 부모의 포지션을 relative로 설정하기 */
  right: -4px;
  top: -24px;
}
.nav__new {
  background-color: rgb(245, 87, 59);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  /* position:absolute는 부모의 속성 기준으로 움직임, 부모의 포지션을 relative로 설정하기 */
  right: -4px;
  top: -16px;
}
