.screen-header {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px var(--horizontal-space);
}
.screen-header__title {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.screen-header__icon span {
  margin-left: 20px;
}
