.screen-header {
  margin-top: 6px;
  margin-bottom: 10px;
  align-items: center;
  padding: 40px 22px 22px 22px;
  width: 100%;
  background-color: rgb(250, 248, 246);
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
}
.screen-header__title {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.screen-header__icon span {
  margin-left: 20px;
}
.screen-header__icon {
  position: relative;
}
.screen-header__icon-new {
  background-color: rgb(245, 87, 59);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  /* position:absolute는 부모의 속성 기준으로 움직임, 부모의 포지션을 relative로 설정하기 */
  right: -3px;
  top: 0px;
}

@keyframes scrnhdrAnimation {
  from {
    transform: none;
  }
  to {
    transform: scale(1.5);
  }
}

.screen-header svg,
.alt-header svg {
  transition: all 500ms cubic-bezier(0.42, 0, 0.535, 0.995);
}
.screen-header svg:hover,
.alt-header svg:hover {
  transform: scale(1.2);
}
