.user-component {
  display: flex;
  justify-content: space-between;
}
.user-component,
.user-component__column:first-child {
  align-items: center;
  display: flex;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 26px;
  margin-right: 15px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 26px;
  margin-right: 15px;
}
.user-component__title {
  font-weight: 600;
}
.user-component__subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
}
.user-component__title-channel {
  font-weight: 400;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 6px;
}
